{%- include 'modules/stripe/shared/api_credentials' -%}
{%- capture "signature" -%}
  {% include 'modules/payments/shared/calculate_signature', properties: properties, expires_in: expires_in, redirect_to: redirect_to %}
{%- endcapture -%}

{% form %}
  {% assign data_attribute = form_builder.fields.properties.data.name %}

  <input type="hidden" name="{{ form_builder.fields.success_message.name }}" value=" {{ config.success_message | default: 'You have successfully created payment' }}" />
  <input type="hidden" name="redirect_to" value="{{ config.redirect_to }}" />
  <input type="hidden" name="{{ form_builder.fields.properties.gateway.name }}" value="{{ gateway }}" />
  <input type="hidden" name="{{ form_builder.fields.properties.request_type.name }}" value="{{ request_type }}" />
  {% for property in data %}
    <input type="hidden" name="{{ data_attribute }}[{{ property.first }}]" value="{{ property.last }}" data-{{ property.first }}="{{ property.last }}" />
  {% endfor %}
  
  {% if data.source == blankl %}
    <script src="https://checkout.stripe.com/checkout.js" defer></script>
    <script src="{{ 'modules/stripe/javascripts/CheckoutPaymentForm.js' | asset_url }}" defer></script>
    <input type="hidden" name="{{ data_attribute }}[source]" value="" data-cc-token />
    {% include 'modules/stripe/card/form', data: data, config: config %}
  {% else %}
    <div class="row">
      <div class="col">
        <button class='btn btn-primary stripe-button-el charge-stripe' type="submit">
          {{ config.button | default: "Pay" }}
        </button>
      </div>
    </div>
  {% endif %}

{% endform %}

