{% assign text_parameterized = text | downcase | replace: ' ', '-'  %}
{% assign input = input | default: text_parameterized %}

<div class="form-group">
  <label for="input-{{ input }}">{{ 'stripe.account.' | append: text_parameterized | t }}</label>
  <input 
         type="text" 
         name="{{ name }}" 
         class="form-control"
         id="input-{{ input }}"
         data-{{ input }}
         value="{{ value }}"
         placeholder="{{ placeholder }}"
         {% if required %}required{% endif %}
         {% if disabled %}disabled{% endif %}
         >
</div>
