<div class="form-row">
  <div class="form-group col-md-{{ column_size }}">
    {% assign document_id = forloop.index | append: document %}

    <label for="{{ document_id }}">
      {{ "modules/stripe/legal_entity.verification." | append: document | replace: "-", "_" | t  }}
    </label><br/>

    {% if value %}<b>Document provided</b><br />{% endif %}

    <input
      type="file"
      id="{{ document_id }}"
      data-document="{{ document }}"
      accept=".jpeg, .jpg, .png"
      {% if disable_person_edits and value %}disabled {% endif %}
    >
  </div>
</div>

