<fieldset
  data-toggle-stripe-target="external-account"
  data-toggle-stripe-content="bank-account"
  class="row bg-white external_account">

  {% assign countries_with_routing = 'US|HK|AU|BR|CA|JP|GB|MX|SG' | split: "|" %}
  {% assign countries_with_iban = "AT|BE|ES|FR|DE|IT|NL|PT|GR|IE|NO|LU|EE|FI|LV|LT|SK|SI|SE|DK|CH|PL" | split: "|" %}
  {% if countries_with_routing contains response.country %}
    {% assign routing_number_required = true %}
  {% else %}
    {% assign routing_number_required = false %}
  {% endif %}
  {%- assign external_account = response.external_accounts.data.first -%}
  {%- assign account_number = 'Account Number' -%}
  {% if external_account != blank and external_account.object == "bank_account" %}
    {%- assign account_number = '**** ' | append: external_account.last4 -%}
  {% endif %}

  <div class="col-12 pt-3 bg-white mb-4 px-0">
    <div class="col-10 col-md-11">
      <h5>Bank Account Details</h5>
      <hr>
      <span>Use bank account to receive payouts</span>
      {% if external_account != blank and external_account.object == "bank_account" %}
        <h6 class="card-subtitle mb-2 text-muted">{{ external_account.bank_name }} {{ account_number }} {{ external_account.currency | upcase }}
          <a href="#"
             data-toggle-stripe-switch
             data-toggle-stripe-target="bank-account-fields"
             class="btn btn-link">Edit</a></h6>
      {% endif %}
    </div>

    {% if external_account.object == "bank_account" %}
      {% assign hide_external =  true %}
    {% endif %}

    <fieldset
      data-toggle-stripe-target="bank-fields"
      data-toggle-stripe-content="bank-account-fields" class="ba_fields {% if hide_external %}hidden collapse{% endif %}" {% if hide_external %}disabled{% endif %}>
      <div class="col-12">
        <div class="errors alert alert-danger" role="alert"></div>
        <div class="form-row">
          {% assign country = response.country %}
          {% parse_json "country_list" %}
            { "{{ country }}": "{{ context.exports.payments.country_list[country] }}" }
          {% endparse_json %}
          {% if country_list.size == 1 %}
            <input type="hidden" data-country value="{{ country_list.first.first }}" />
          {% else %}
            {% include select_field with "Country",
            value: country,
            collection: country_list
            required: true
            %}
          {% endif %}
          {% assign currency = external_account.currency | default: response.default_currency | upcase %}
          {% assign currency_collection = context.exports.payments.country_currency_list[country] %}
          {% if currency_collection.size == 1 %}
            <input type="hidden" data-currency value="{{ currency_collection.first.first }}" />
          {% else %}
            {% include select_field with "Currency",
              value: currency,
              collection: currency_collection,
              required: true
            %}
          {% endif %}
          {% if routing_number_required %}
            {% include text_field with "routing_number", value: external_account.routing_number, required: true, placeholder: "Routing Number", country_iso: country %}
          {% endif %}
          {% if countries_with_iban contains response.country %}
            {% assign account_label = "account_number_iban" %}
          {% else %}
            {% assign account_label = "account_number" %}
          {% endif %}

          {% include text_field with account_label,
            input_id: 'account_number',
            value: external_account.account_number,
            required: true
          %}
        </div>
        <div class="form-row pb-3">
          {% include text_field with "account_holder_name",
            value: external_account.account_holder_name,
          %}

          {% assign account_holder = external_account.account_holder_type | default: response.legal_entity.type %}
          {% parse_json "account_holder_type_options" %}
            { "individual": "Individual", "company": "Company"}
          {% endparse_json %}
          {% include select_field with "Account Holder Type",
            value: account_holder,
            collection: account_holder_type_options
          %}
        </div>
      </div>
      {% if external_account.object == "bank_account" %}
        <a href="#"
           data-toggle-stripe-switch="bank-fields"
           data-toggle-stripe-target="none"
           class="btn btn-link"
          >Hide
        </a>
      {% endif %}
    </fieldset>
  </div>
</fieldset>
