{% query_graph "modules/payments/gateway_get", data: data, template: "modules/stripe/get_persons" %}
{% parse_json 'persons_response' %}{{ g.api_call_send.response.body }}{% endparse_json %}
<h4 class='mb-4'>Representatives</h4>
{% for person in persons_response.data %}
  <fieldset class="person border-bottom border-light mb-5">
    {% assign person_attribute = data_attribute | append: '[persons][' | append: forloop.index | append: ']' %} 
    <input type="hidden" name="{{ person_attribute}}[token]" data-person-token>
    <input type="hidden" name="{{ person_attribute}}[gateway_id]" value="{{ person.id }}" id="person-token">
    <div class="form-row">
      <div class="form-group col-md-3">
        {% include text_field with "First Name", value: person.first_name  %}
      </div>
      <div class="form-group col-md-3">
        {% include text_field with "Last Name", value: person.last_name  %}
      </div>
      <div class="form-group col-md-3">
        {% if person.id_number_provided %}
          {% assign id_placeholder = 'Provided' %}
        {% endif %}
        {% include text_field with "ID Number", value: person.id_number, placeholder: id_placeholder, disabled: person.id_number_provided %}
      </div>
      <div class="form-group col-md-3">
        {% if person.dob.day %}
          {% assign date_of_birth = person.dob.day | append: '/' | append: person.dob.month | append: '/' | append: person.dob.year %}
        {% else %}
          {% assign date_of_birth = '' %}
        {% endif %}
        {% include text_field with "Date of Birth", value: date_of_birth  %}
      </div>
    </div>
    {% include text_field with "Address", value: person.address.line1 %}
    <div class="form-row">
      <div class="form-group col-md-6">
        {% include text_field with "City", value: person.address.city %}
      </div>
      <div class="form-group col-md-4">
        {% include text_field with "State", value: person.address.state %}
      </div>
      <div class="form-group col-md-2">
        {% include text_field with "Zip", value: person.address.postal_code %}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        {% assign photo_id = forloop.index | append: "_front_photo" %}
        <label for="{{ photo_id }}">Photo ID (Front)</label><br/>
        <input type="file" id="{{ photo_id }}" data-front-photo-id  accept=".jpeg,.jpg,.png">
      </div>
      <div class="form-group col-md-6">
        {% assign photo_id = forloop.index | append: "_back_photo" %}
        <label for="{{ photo_id }}">Photo ID (Back)</label><br/>
        <input type="file" id="{{ photo_id }}" data-back-photo-id  accept=".jpeg,.jpg,.png">
      </div>
    </div>
  </fieldset>

{% endfor %}
